.barra {
  position: relative;
}

.barra span::after {
  background-color: #e6e5e5;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 69%;
  z-index: -1;
}

.barra1 {
  position: relative;
  width: 80%;
}

.barra1 span::after {
  background-color: #e6e5e5;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 70%;
  z-index: -1;
}

.barra2 {
  position: relative;
}

.barra2 span::after {
  background-color: #e6e5e5;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 70%;
  z-index: -1;
}

.f {
  padding: auto;
}

.f1 {
  color: #766f6d;
  font-size: 20px;
  margin-left: 30%;
}

.five1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.five2 div {
  text-align: center;
}

.five2,
.four2,
.six2,
.two2 {
  background-color: #5f5a58;
  color: white;
}

.four1 {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  text-align: end;
}

.four2 {
  font-size: 20px;
  text-align: center;
}

h1.titulo {
  margin-bottom: 0;
}

h3.f1 {
  text-align: end;
  padding-right: 68px;
}

.logo {
  left: 10%;
  position: relative;
  top: 10px;
  width: 130px;
}

.line1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.line2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.logo1 {
  position: relative;
  bottom: 15%;
  font-size: 20px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.o2 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20%;
}

.o2 h1 {
  margin: 0;
}

.one,
.two,
.four,
.five,
.six {
  display: grid;
  grid-template-columns: 70% 30%;
}

.one1 {
  background-color: #e6e5e5;
  display: grid;
  grid-template-columns: 30% 70%;
}

.one2,
.three2 {
  background-color: #3b3b3b;
  color: white;
  justify-items: center;
}

.s2 {
  position: relative;
  text-align: center;
  top: 70%;
}

.six2 {
  height: auto;
}

table {
  border-collapse: separate;
  border-spacing: 40px 20px;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

thead {
  font-size: 20px;
  text-align: center;
}

.three,
.six,
.six1,
.two1 {
  display: grid;
  grid-template-columns: 70% 30%;
  text-align: center;
}

.three1 {
  background-color: #e6e5e5;
  border-spacing: 50px;
  display: grid;
  padding-left: 15px;
  text-align: left;
}

.three2 {
  color: white;
}

.two2 {
  text-align: center;
}

.zero {
  border: 1px solid #e6e5e5;
  box-shadow: 2px black;
  width: 60%;
}

@media (max-width: 1400px) {
  .texto1 {
    font-size: 14px;
  }
  
  .zero {
    width: 80%;
  }
}

@media (max-width: 1250px) {
  .texto1 {
    font-size: 12px;
  }
  .logo{
    top:0;
    width: 120px;
  }

}

@media (max-width: 1050px) {
  .zero {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .barra span::after {
    width: 53%;
  }

  .barra1 {
    width: 80%;
  }

  .barra1 span::after {
    width: 83%;
  }

  .line1,
  .line2 {
    grid-template-columns: 1fr;
  }

  .six1 {
    grid-template-columns: 1fr;
  }

  .zero {
    width: 100%;
  }
}

@media (max-width: 760px) {
  .three1 {
    overflow: auto;
  }
}

@media (max-width: 730px) {
  .f2 {
    position: relative;
  }

  .five1 {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 710px) {
  .o2 {
    margin: 40%;
  }
}

@media (max-width: 600px) {
  .one1 {
    display: flex;
  }

  .logo {
    display: none;
  }

  .o2 {
    height: 25px;
    margin: 20px;
    transform: scaleX(1.5);
    display: flex;
    bottom: 40px;
  }

  .one,
  .six {
    grid-template-columns: 1fr;
  }

  .s2 {
    top: 30px;
  }

  .six2 {
    height: 70px;
  }

  .three,
  .two {
    grid-template-columns: 1fr;
  }

  .two2 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .p {
    overflow: auto;
  }
}

@media (max-width: 360px) {
  h1.titulo {
    font-size: 30px
  }
  span.titulo{
    font-size: 15px;
  }
}

